.logo {
  display: flex;
  align-items: center;
  width: 180px;
}
.logo__title {
  font-size: 20px;
  font-weight: 600;
  line-heigth: 30px;
  padding: 10px;
  padding-right: 20px;
  color: rgb(25, 104, 252);
}

.page-header {
  heigth: 50px;
  width: 100%;
  display: flex;
  padding-left: 80px;
  padding-top: 40px;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .page-header {
    margin: 30px auto;
    margin-bottom: 0;
    padding: 0;
    width: 1120px;
    margin: 30px auto;
    margin-bottom: 0;
    padding: 0;
  }
}
.page-header .logo {
  display: flex;
  align-items: center;
  width: 180px;
}
.page-header .logo__title {
  font-size: 20px;
  font-weight: 600;
  line-heigth: 30px;
  padding: 10px;
  padding-right: 20px;
  color: rgb(25, 104, 252);
}
.page-header__navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__navigation {
    display: block;
    margin-left: auto;
  }
}
.page-header__navigation-item {
  padding-right: 60px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  color: black;
}
.page-header__navigation-item:first-child {
  padding-right: 50px;
}
.page-header__navigation-item:last-child {
  padding: 0;
}
.page-header__upload-btn {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__upload-btn {
    margin-left: 55px;
    display: block;
    width: 180px;
  }
}

.action-btn {
  border: none;
  height: 50px;
  padding: auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(25, 104, 252);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.line {
  width: 80px;
  height: 2px;
  margin: 0;
  margin-top: 10px;
  background-color: rgb(25, 104, 252);
}
@media screen and (min-width: 1024px) {
  .line {
    margin-left: -40px;
  }
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .headline {
    width: 1120px;
    position: relative;
    left: 0;
    padding: 0;
    margin: 150px auto;
    margin-bottom: 0;
  }
}
.headline__action {
  padding: 80px;
}
@media screen and (min-width: 1024px) {
  .headline__action {
    max-width: 600px;
    padding: 0;
  }
}
.headline__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: SemiBold;
  line-height: 60px;
  letter-spacing: 1px;
}
.headline__description {
  margin: 0;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 40px;
}
.headline__upload-btn {
  width: 300px;
}
@media screen and (max-width: 1023px) {
  .headline .btn__desctop {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .headline .btn__desctop {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .headline .btn__mobile {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .headline .btn__mobile {
    display: block;
  }
}
.headline__img {
  padding: 0 auto;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .headline__img {
    margin: 0;
    height: 502px;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 521px;
  }
}
.headline__visit-desctop {
  padding: 30px 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: white;
  max-width: 100%;
  height: 180px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png);
}
@media screen and (min-width: 1024px) {
  .headline__visit-desctop {
    display: none;
  }
}

.reviews {
  margin: 50px auto;
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .reviews {
    display: flex;
    width: 1120px;
    margin: 160px auto;
    margin-bottom: 0;
  }
}
.reviews .review {
  position: relative;
  max-width: 540px;
  min-height: 280px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(25, 104, 252, 0.1);
}
.reviews .review:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .reviews .review {
    margin-bottom: 0;
  }
  .reviews .review:first-child {
    margin-right: 40px;
  }
}
.reviews .review__img {
  position: absolute;
  top: 40px;
  right: 40px;
  max-width: 60px;
  max-height: 46px;
}
.reviews .review__autor {
  display: flex;
  padding: 40px;
  padding-bottom: 0;
}
.reviews .review__autor-avatar {
  width: 100px;
  height: 100px;
}
.reviews .review__autor-item {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-right: 0;
  line-height: 30px;
}
.reviews .review__autor-item-name {
  font-size: 18px;
  font-weight: SemiBold;
}
.reviews .review__autor-item-text {
  font-size: 14px;
  color: rgb(25, 103, 250);
}
.reviews .review__description {
  padding: 40px;
  margin: 0;
  line-height: 30px;
}

.wokflow {
  margin: 120px auto;
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .wokflow {
    width: 1165px;
  }
}
.wokflow__title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .wokflow__steps {
    magin-top: 38px;
    display: flex;
    width: 100%;
  }
}
.wokflow-step {
  position: relative;
  margin: 0;
  width: 100%;
  height: 180px;
  padding: 40px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wokflow-step:first-child {
  margin-top: 48px;
}
@media screen and (min-width: 1024px) {
  .wokflow-step:first-child {
    margin-top: 38px;
  }
}
@media screen and (min-width: 1024px) {
  .wokflow-step__second {
    margin-top: 78px;
  }
}
@media screen and (min-width: 1024px) {
  .wokflow-step__last {
    margin-top: 118px;
  }
}
@media screen and (min-width: 1024px) {
  .wokflow-step {
    width: 325px;
    height: 225px;
  }
}
.wokflow-step__lable {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}
.wokflow-step__title {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(25, 103, 250);
  margin: 0;
}
.wokflow-step__description {
  margin: 0;
  margin-top: 10px;
  line-height: 30px;
}
.wokflow-step__icon {
  width: 40px;
  height: 36px;
  position: absolute;
  top: 40px;
  right: 40px;
}
.wokflow-step__img {
  width: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.wokflow__dotted {
  width: 70px;
  height: 40px;
  margin: 0;
  margin-left: 60px;
  border: none;
  border-left: 1px dotted rgb(25, 104, 252);
}
@media screen and (min-width: 1024px) {
  .wokflow__dotted {
    margin: 0;
    margin-top: 148px;
    border: none;
    border-top: 1px dotted rgb(25, 104, 252);
  }
}
@media screen and (min-width: 1024px) {
  .wokflow__dotted-second {
    margin-top: 187px;
  }
}

.features {
  width: 100;
  margin: 120px auto 0 auto;
}
@media screen and (min-width: 1024px) {
  .features {
    width: 1165px;
    margin: 115px auto;
    margin-bottom: 0;
  }
}
.features__title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 60px;
}
.features__line {
  margin-left: -40px;
}
@media screen and (min-width: 1024px) {
  .features__line {
    margin-left: -40px;
  }
}
.features__list {
  margin: 0;
  margin-top: 48px;
}
@media screen and (min-width: 1024px) {
  .features__list {
    display: flex;
  }
}
.features__list-item {
  position: relative;
  height: 200px;
  margin-bottom: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1024px) {
  .features__list-item {
    height: 325px;
    height: 295px;
    margin-bottom: 0;
  }
  .features__list-item:first-child {
    margin-right: 69px;
  }
}
.features__list-item:nth-child(2) {
  margin-top: 40px;
}
.features__list-item:last-child {
  margin-bottom: 0;
  margin-top: 80px;
}
@media screen and (min-width: 1024px) {
  .features__list-item:last-child {
    margin-left: 81px;
  }
}
.features__list-item-img {
  width: 25px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.features__list-item-header {
  display: flex;
  background-color: rgb(243, 247, 255);
}
.features__list-item-header-img {
  width: 80px;
}
@media screen and (min-width: 1024px) {
  .features__list-item-header-img {
    width: 120px;
  }
}
.features__list-item-header-title {
  margin: auto;
  margin-left: 20px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  .features__list-item-header-title {
    line-height: 30px;
  }
}
.features__list-item-description {
  line-height: 30px;
  margin: 30px 40px;
}
@media screen and (min-width: 1024px) {
  .features__list-item-description {
    margin: 40px;
  }
}

.users {
  margin: 120px auto;
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .users {
    width: 1160px;
    margin-top: 115px;
  }
}
.users__title {
  margin: 0;
  font-size: 30px;
  font-weight: 30px;
  line-height: 60px;
  text-transform: uppercase;
}
.users .mobile {
  display: block;
}
@media screen and (min-width: 1024px) {
  .users .mobile {
    display: none;
  }
}
.users .desctop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .users .desctop {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .users__line {
    margin-left: -40px;
  }
}
.users__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 28px;
}
.users__cards-item {
  width: 250px;
  height: 190px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1024px) {
  .users__cards-item {
    width: 360px;
    height: 160px;
    flex: 1 1 calc(33.333% - 20px);
  }
}
.users__cards-item:last-child {
  margin-bottom: 0;
}
.users__cards-item-title {
  margin: 20px;
  font-size: 20px;
  line-height: 40px;
  color: rgb(25, 103, 250);
  text-transform: uppercase;
}
.users__cards-item-description {
  margin: 20px;
  line-height: 30px;
}

.purposes {
  margin: 120px auto;
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .purposes {
    width: 1160px;
  }
}
.purposes__title {
  margin: 0;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .purposes__line {
    margin-left: -40px;
  }
}
.purposes__list {
  margin-top: 38px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.purposes__list-item {
  display: flex;
  align-items: center;
  width: 520px;
  height: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1024px) {
  .purposes__list-item {
    width: 540px;
  }
}
.purposes__list-item-img {
  width: 80px;
  height: 80px;
}
.purposes__list-item-description {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
}

.consultation {
  position: relative;
  width: 100%;
  margin: 60px auto;
  margin-bottom: 0;
  padding: 60px;
  background-color: rgb(25, 104, 252);
}
@media screen and (min-width: 1024px) {
  .consultation {
    margin-top: 120px;
    padding: 80px auto;
  }
}
@media screen and (min-width: 1024px) {
  .consultation__container {
    max-width: 640px;
  }
}
.consultation__title {
  font-size: 30px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: white;
}
@media screen and (min-width: 1024px) {
  .consultation__title {
    width: 1120px;
  }
}
.consultation__img {
  z-index: 0;
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1024px) {
  .consultation__img {
    display: block;
  }
}
.consultation__line {
  background-color: white;
}
.consultation__description {
  margin: 0;
  margin-top: 38px;
  color: white;
  font-size: 20px;
  line-height: 40px;
}
@media screen and (min-width: 1024px) {
  .consultation__description {
    margin-top: 48px;
  }
}
.consultation__btn {
  margin-top: 40px;
  color: rgb(25, 104, 252);
  background-color: white;
}
@media screen and (min-width: 1024px) {
  .consultation__btn {
    max-width: 320px;
  }
}

.stories {
  width: 100%;
  margin: 60px auto;
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .stories {
    margin: 120px auto;
    width: 1160px;
  }
}
.stories__title {
  margin: 0;
  font-size: 30px;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
}
.stories__list {
  margin-top: 38px;
}
@media screen and (min-width: 1024px) {
  .stories__list {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .stories__list-item {
    width: 420px;
  }
}
.stories__list-item-header {
  display: flex;
}
.stories__list-item-header-icon {
  width: 40px;
  height: 33px;
}
.stories__list-item-header-title {
  margin: 0;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}
.stories__list-item-description {
  margin: 0;
  margin-top: 20px;
  margin-left: 60px;
  line-height: 30px;
}

.footer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 61px;
  padding: 40px;
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 40px 160px;
    margin-top: 120px;
  }
}
.footer-logo {
  height: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  background-color: rgba(25, 104, 252, 0.05);
}
.footer-logo__img {
  max-width: 50px;
}
.footer-logo__description {
  margin: auto;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: rgb(25, 104, 252);
}
.footer__nav {
  display: none;
}
@media screen and (min-width: 1024px) {
  .footer__nav {
    display: flex;
    margin-left: 70px;
  }
}
.footer__nav-item {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 20px;
  width: 120px;
  padding: auto;
  font-weight: 600;
}
.footer .social-links {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.footer .social-links_facebook {
  padding: 15px 20px;
}
.footer .social-links_instagram {
  padding: 15px;
}
.footer__img {
  position: absolute;
  top: 70px;
  right: 40px;
  width: 55px;
  height: 60px;
}
@media screen and (min-width: 1024px) {
  .footer__img {
    width: 90px;
    height: 100px;
    top: 30px;
    right: 160px;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: rgb(17, 34, 63);
}

.page {
  width: 100%;
  overflow: hidden;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png);
}
@media screen and (min-width: 1024px) {
  .page {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
  }
}
@media screen and (max-width: 1023px) {
  .page {
    background-image: linear-gradient(to right, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23%, rgba(25, 104, 252, 0.0335) 49%, rgba(25, 104, 252, 0.0001) 100%, rgba(25, 104, 252, 0.05) 100%);
  }
}

/*# sourceMappingURL=styles.css.map */
