.features
  width: 100%
  margin: 120px auto 0 auto

  +for-large-up
    width: $desctop-body-width + 5px
    margin: 115px auto
    margin-bottom: 0 

  &__title
    margin: 0
    font-size: $title-font-size
    font-weight: 400
    text-transform: uppercase
    line-height: $title-line-height
    
  &__line
    margin-left: -40px 

    +for-large-up
      margin-left: -40px

  &__list
    margin: 0
    margin-top: 48px

    +for-large-up
      display: flex

.feature
  position: relative
  height: 200px
  margin-bottom: 55px
  box-shadow: $black-shadow
  background-color: $color-white

  +for-large-up
    width: 325px
    height: 295px
    margin-bottom: 0

    &:first-child
      margin-right: 69px 

  &:nth-child(2)
    margin-top: 40px 

  &:last-child
    margin-bottom: 0
    margin-top: 80px

    +for-large-up
      margin-left: 81px 

  &__img
    width: 25px
    position: absolute
    bottom: 0
    right: 0

  &__header
    display: flex
    align-items: center
    background-color: $features-color-header
        
  &__header-img
    width: 80px

    +for-large-up
      width: 120px
        
  &__header-title
    margin: 20px
    font-size: 20px
    line-height: 40px
    font-weight: 600 

    +for-large-up
      line-height: 30px
      
  &__description
    line-height: 30px
    margin: 30px 40px

    +for-large-up
      margin: 40px
