.footer
  position: relative
  width: 100%
  display: flex
  align-items: center
  margin-top: 61px 
  padding: 40px

  +for-large-up
    padding: 40px 160px
    margin-top: 120px

  &-logo
    height: 50px
    width: 250px
    display: flex
    align-items: center
    background-color: $footer-logo-bg
    
    &__img
      max-width: 50px

    &__description
      margin: auto
      font-size: 14px
      font-weight: 600
      line-height: 20px
      color: $color-blue

  &__nav
    display: none

    +for-large-up
      display: flex
      margin-left: 70px

    &-item
      text-decoration: none
      color: black
      font-size: 14px
      line-height: 20px
      width: 120px
      padding: auto
      font-weight: 600  

  .social-links
    margin-left: 50px
    display: flex
    align-items: center

    &_facebook
      padding: 15px 20px

    &_instagram
        padding: 15px

  &__img
    position: absolute
    margin-left: auto
    top: 70px
    width: 55px
    height: 60px

    +for-large-up 
      width: 90px
      height: 100px
      top: 30px
      right: 160px
    