.page-header
  heigth: 50px
  width: 100%
  display: flex
  padding-left: $unit * 2
  padding-top: $unit
  align-items: center

  +for-large-up
    margin: 30px auto
    margin-bottom: 0
    padding: 0
    width: $desctop-header-width

  &__navigation
    display: none

    +for-large-up
      display: block
      margin-left: auto 

  &__navigation-item
      padding-right: 60px 
      font-size: 14px
      font-weight: 600
      line-height: 20px
      text-decoration: none
      color: black

      &:first-child
        padding-right: 50px
        
      &:last-child
        padding: 0
      
  &__upload-btn
    display: none
    
    +for-large-up
      margin-left: 55px  
      display: block
      width: 180px

      
    


